@import './Mixins.scss';

html, body {
    font-family: Helvetica;
    overflow: auto;
    overflow-x: hidden;
}

.App {
  .content {
      position: relative;
      height: 100%;
      width: 100%;
      max-width: 1320px;
      padding: 0 20px;
      margin: 0 auto;
      box-sizing: border-box;
  }
}

.bold {
    @include tablet-down {
        font-weight: bold !important;
        font-family: InterstateBold;
    }
}